# ./docker-compose.yml

version: '2'

services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: my_secret_pw_shh
      MYSQL_DATABASE: sleas_db
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpass
    ports:
      - "9906:3306"
  sleas-api:
    build: ./sleas-api
    hostname: www
    domainname: sleas-api.dev
    volumes:
      - ./sleas-api/www/:/var/www/html
    ports:
      - 80:80
    links:
      - db
    depends_on:
      - db
  sleas-web:
    build: ./sleas-web
    hostname: www
    domainname: sleas.dev
    volumes:
      - ./sleas-web/www/:/var/www/html
    ports:
      - 8000:8000
    links:
      - db
    depends_on:
      - db    
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpMyadmin
    environment:
      MYSQL_ROOT_PASSWORD: my_secret_pw_shh
      PMA_HOST: db
    ports:
      - 8080:80
  sleas-swagger:
    image: swaggerapi/swagger-ui
    environment:
      - SWAGGER_JSON=./sleas-swagger/www/swagger.json
    volumes:
      - ./sleas-swagger/www/:/var/www/html
    restart: always
    ports:   ["1337:8080"]
     
